@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dela Gothic One", sans-serif; 
    /* font-family: 'Heebo Variable', sans-serif; */
    /* font-weight: 900; */
    scroll-behavior: smooth;
  }

.button{
    font-family: 'Dela Gothic One', sans-serif
}

.text{
    font-family: 'Heebo Variable', sans-serif;
}

.full-screen{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.input{
    border-radius: 0.25rem;
    border: 1px solid black;
    padding: 0.375rem 0.75rem;
}

.error {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-width: 1px;
  }

  .rem70{
    max-width: 20rem;
  }

  .overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.6);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  .click{
    pointer-events: all;
  }

  .thumbnail{
    background: rgba(230, 230, 230, 0.7);
    padding: 10px;
    border-radius: 100%;
    border: 5px solid white;
    pointer-events: all;
    transition: background-color 0.2s ease-in-out;
    z-index: 999;
  }

  .thumbnail:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
  }

  .gis-button-container{
    display: flex;
    margin: 1rem;
    flex-direction: column;
  }